doctype html
html(lang="en")
  head
    title myName
  body
      h2 upload  image !
      form(action='/upload' , method='post' , enctype='multipart/form-data')
        label word
          input(type="text" , name="yourname")
          input(type="file" , name="logo")
          button(type="submit") submit
