@import "headerfooter.css";

body .mainpicture {
  width: 100vw;
  height: 500px;
  background-image: url('../images/photos/keyvisuals/201807242222.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

body .mainpicture .story {
  font-family: "Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: normal;
  text-align: left;
  color: #070707;
  margin: 166px 0 0 21%;
}

#thk {
  font-size: 30px;
  font-family: "Noto Sans TC", "微軟正黑體";
  color: #070707	;
  margin: 30px 0 30px 21%;
}

#detailtext {
  font-family: "微軟正黑體";
  font-size: 25px;
  text-align: left;
  color: #070707;
  margin: 0 0 30px 21%;
}
